<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>お問い合わせ詳細</h1>

      <p><strong>名前:</strong> <%= @inquiry.name %></p>
      <p><strong>メールアドレス:</strong> <%= @inquiry.email %></p>
      <p><strong>内容:</strong> <%= @inquiry.message %></p>

      <h2>返信</h2>
      
      <!--返信済みの場合返信内容が表示される-->
      <% if @inquiry.replied %>
        <p><strong>返信済み</strong></p>
        <p><%= @inquiry.reply %></p>
      <% else %>
      <!--そうでなければ管理者側のお問い合わせ詳細ページに返信ボタンが表示され、そのボタンがクリックされると、repliedフィールドがtrueに更新される-->
        <%= form_with(model: [:admin, @inquiry]) do |f| %>
          <div class="form-group">
            <%= f.label :reply, "返信内容" %>
            <%= f.text_area :reply, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit "返信を送信", class: "btn btn-primary" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
