<!--管理者コメント管理-->
  <div class="card mb-2">
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <h5 class="card-title">
      　　  <!--ユーザーがアイコン画像を持っている場合、その画像と名前にリンクを付ける。アイコン画像がない場合は、名前だけにリンクを付けます。-->
            <% if comment.user&.icon_image&.attached? %>
              <%= link_to admin_user_path(comment.user) do %>
                <p><%= image_tag comment.user.icon_image, class: 'img-fluid profile-icon' %> <%= comment.user.name %></p>
              <% end %>
            <% else %>
              <p><%= link_to comment.user.name, admin_user_path(comment.user) %></p>
            <% end %>

          <!-- 退会済みユーザーの場合に表示 -->
            <% if comment.user.is_deleted %><span style="color: blue;">（無効）</span><% end %> 
          </h5>
          <p class="card-text"><%= comment.content %></p>
          <p class="card-text"><small class="text-muted"><%= time_ago_in_words(comment.created_at) %>前</small></p>
        </div>
        <div class="col-2 text-right">
          <%= link_to '削除', admin_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
        </div>
      </div>
    </div>
  </div>

