<!--管理者コメント管理-->
  <div class="card mb-2">
    <div class="card-body">
      <div class="row">
        <div class="col-10">
          <h5 class="card-title">
            <% if comment.user&.icon_image&.attached? %>
              <%= link_to admin_user_path(comment.user) do %>
                <p><%= image_tag comment.user.icon_image, class: 'img-fluid profile-icon' %>
              <% end %>
            <% end %>
            <%= comment.user.name %>のコメント
            <% if comment.user.is_deleted %><span style="color: blue;">（無効）</span><% end %> <!-- 退会済みユーザーの場合に表示 -->
          </h5>
          <p class="card-text"><%= comment.content %></p>
          <p class="card-text"><small class="text-muted"><%= time_ago_in_words(comment.created_at) %>前</small></p>
        </div>
        <% if admin_signed_in? %> 
          <div class="col-2 text-right">
            <%= link_to '削除', admin_comment_path(comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger btn-sm' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

