  <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
    <div class="card-wrapper px-3"> <!-- スペースを追加する外側の要素 -->
      <div class="card h-100">
        <!-- 料理画像のリンク -->
        <%= link_to post_path(post) do %>
          <%= image_tag post.post_image, alt: post.title, class: "card-img-top", style: "height: 120px; object-fit: cover;" if post.post_image.attached? %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to post.title, post_path(post), class: "item-link" %></h5>
          <p class="card-text"><%= truncate(post.description, length: 25) %></p>
            <!--添付されている場合には画像と名前の両方にリンクを適用します。添付されていない場合は、名前だけにリンクを適用-->
            <% if post.user&.icon_image&.attached? %>
              <%= link_to user_path(post.user), class: 'black-link' do %>
                <%= image_tag post.user.icon_image, class: 'img-fluid profile-icon' %> 
                <%= post.user.name %>
              <% end %>
            <% else %>
              <%= link_to post.user.name, user_path(post.user), class: 'black-link' %>
            <% end %>

             <!--退会しているユーザーのいいね等はカウントされない-->
           <p>
            <span><%= active_likes_count(post) %> <i class="fas fa-heart" style="color: red; margin-left: 5px;"></i></span>
            <span style="margin-left: 15px;"><%= active_bookmarks_count(post) %><i class="fa-solid fa-bookmark" style="color: #6495ED; margin-left: 5px;"></i></span>
            <span style="margin-left: 15px;"><%= active_comments_count(post) %><i class="fa-solid fa-comment" style="color: #FFA500; margin-left: 5px;"></i></span>
            <% if !post.is_public %>
              <span class="badge badge-danger ml-3">非公開</span>
            <% end %>
           </p>
        </div>
      </div>
    </div>
  </div>