<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8"> 
      <h1>投稿編集</h1>
        <%= form_with model: @post, url: post_path(@post), html: {class: 'row'} do |f| %>
  
      <!--画像、テキストフィールド-->
         <%= render partial: 'post_text_form', locals: { f: f } %>
           
          <%= f.submit "更新する", class: 'btn btn-success mb-5 mt-5 ml-4' %>
          <%= link_to '投稿削除', post_path(@post),method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger mb-5 ml-4 mt-5' %>
          <%= link_to 'キャンセル', post_path(@post), class: 'btn btn-outline-warning mb-5 ml-4 mt-5' %>
        <% end %>
    </div>
  </div>
</div>

<!--隠し要素テンプレートとjavascript-->
<%= render partial: 'post_form_js' %>