<div class="container mt-4">
  <%= form_with(url: posts_path, method: :get, local: true) do |f| %>
    <%= f.text_field :search, placeholder: "キーワード検索" %>
    <%= f.submit "検索" %>
  <% end %>
  <h1>投稿一覧</h1>
  <div class="row">
    <% @posts.each do |post| %>
     <!--投稿アイテム-->
      <%= render partial: 'public/posts/post_item', locals: {post: post} %>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
