<div class="container mt-2 mb-4">
  <%= form_with(url: posts_path, method: :get, local: true, class: "form-inline") do |f| %>
    <%= f.text_field :search, placeholder: "料理名,野菜,タグで検索", class: "form-control mr-2" %>
    <%= f.submit "検索", class: "btn btn-primary" %>
  <% end %>
</div>


  <h1>投稿一覧</h1>
  <div class="row">
    <% @posts.each do |post| %>
    <!--退会しているユーザーの投稿は表示されない-->
     <% unless post.user.is_deleted %> 
     <!--投稿アイテム-->
      <%= render partial: 'public/posts/post_item', locals: {post: post} %>
     <% end %>
    <% end %>
   
  </div>
  <!--# ページネーション自体の幅を小さくして中央寄せ-->
   <div style="width: 30%; margin: 0 auto;"> 
    <%= paginate @posts %>
   </div>

