<div class="container mt-2 mb-4 d-flex flex-column flex-md-row align-items-md-center justify-content-md-between">
  <div class="d-flex align-items-center mb-2 mb-md-0">
    <!--キーワード検索フォーム-->
    <%= render partial: 'search', locals: { posts_path_variable: posts_path } %> 
    
    <div class="ml-3">
      <%= link_to tags_path do %>
        <!--alt 属性には画像の説明として「タグで探す」というテキストを追加-->
        <%= image_tag "tag.png", alt: "タグで探す", width: "65", height: "65" %>
      <% end %>
    </div>
  </div>
  
  <div class="mb-2 mb-md-0">
    <!--並び替え-->
    <%= render partial: 'sort' %>
  </div>
</div>

  <div class="row justify-content-center">
    <% @posts.each do |post| %>
    <!--退会しているユーザーの投稿は表示されない-->
      <% unless post.user.is_deleted %> 
     <!--投稿アイテム-->
      <!--partialの役割は再利用可能なビューの断片を作成・表示すること-->
      <%= render partial: 'post_item', locals: {post: post} %>
      <% end %>
    <% end %>
  </div>
  <!--ページネーション自体の幅を小さくして中央寄せ-->
  <div style="width: 30%; margin: 0 auto;"> 
    <%= paginate @posts %>
  </div>

