<div class="container mt-4">
  <h1>投稿一覧</h1>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%= link_to post_path(post) do %>
            <%= image_tag post.get_image, alt: post.title, class: "card-img-top" if post.get_image.attached? %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
            <p class="card-text"><%= truncate(post.description, length: 75) %></p>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>
