<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8"> 
      <h1>新規投稿</h1>
      <%= form_with model: @post, url: posts_path, html: {class: 'row'} do |f| %>
      
       <!--画像、テキストフィールド-->
       <%= render partial: 'post_text_form', locals: { f: f } %>

          <%= f.submit "投稿する", class: 'btn btn-success mb-5' %>
      <% end %>
    </div>
   </div>
  </div>


    <!--材料、分量フォームの隠し要素テンプレート-->
    <% ingredient_form_builder = ActionView::Helpers::FormBuilder.new(:post, @post, self, {}) %>
    <%= content_tag :div, id: 'ingredient-fields-template', style: 'display: none;', data: {id: Time.now.to_i, ingredient: {}} do %>
      <%= ingredient_form_builder.fields_for :ingredients, Ingredient.new, child_index: Time.now.to_i do |ingredient_field| %>
        <%= render 'ingredient_fields', f: ingredient_field %>
      <% end %>
    <% end %>
    
    <!--作り方フォームの隠し要素テンプレート-->
    <% recipe_step_form_builder = ActionView::Helpers::FormBuilder.new(:post, @post, self, {}) %>
    <%= content_tag :div, id: 'recipe-step-fields-template', style: 'display: none;', data: {id: Time.now.to_i, recipe_step: {}} do %>
      <%= recipe_step_form_builder.fields_for :recipe_steps, RecipeStep.new, child_index: Time.now.to_i do |recipe_step_field| %>
        <%= render 'recipe_step_fields', f: recipe_step_field %>
      <% end %>
    <% end %>
    
    <!--javascript-->
    <%= render partial: 'public/posts/post_form_js' %>
