<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-4">
        <div class="card-body">
          
          <!--投稿内容詳細_yieldを使用して、特定のパスを動的に変更-->
          <%= provide(:user_path, user_path(@post.user)) %>
          <%= render partial: 'post_details', locals: { post: @post } %>
          <!--タグの表示部分-->
          <% @post.tag_list.each do |tag| %>
            <%= link_to tag, posts_path(tag: tag), class: 'tag' %>
          <% end %>
          <!--いいね機能・ブックマーク機能-->
          <div class="d-flex mt-4">
            <% if user_signed_in? %>
              <p id="like_buttons_<%= @post.id %>">
                <%= render partial: 'public/likes/like', locals: { post: @post } %>
              </p>
              <p id="bookmark_button" class="ml-4">
                <%= render partial: 'public/bookmarks/bookmark', locals: { post: @post } %>
              </p>
               <p><i class="fa-solid fa-comment count-item ml-4 mr-4" style="color: #FFA500;"><%= active_comments_count(@post) %>コメント</i></p>
               <!--自分の投稿の非公開の場合のみ表示-->
              <p>
                <% if !@post.is_public %>
                  <span class="badge badge-danger ml-5" style="font-size: 18px; padding: 10px;">非公開</span>
                <% end %>
              </p>
            <% end %>
          </div>
           <!--ツイッターリンク-->
            <!--<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="%= @post.title %> via SeasonaryCook" data-show-count="false">Tweet</a>-->
            <!--<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
        </div>
      </div>
      
      <!--材料部分テンプレート-->
      <%= render 'ingredients_card', ingredients: @post.ingredients, serving_size: @post.serving_size %>
      <!--作り方部分テンプレート-->
      <%= render 'recipe_steps_card', recipe_steps: @post.recipe_steps %>
      
    <% if @post.user == current_user %>
      <%= link_to '投稿編集', edit_post_path(@post), class: 'btn btn-success ml-3' %>
      <%= link_to '投稿削除', post_path(@post),method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger ml-4' %>
    <% end %>
      <!--コメント機能-->
        <div id="comments" class="mt-4 mb-4">
       <% if user_signed_in? %>
          <%= render 'public/comments/form', post: @post %>
       <% end %>
         <button class="commentbox-toggle btn btn-info btn-block">コメントを表示する</button>
          <div class="commentboxes">
            <!-- @postに関連するコメントを取得し、作成日時の降順に並び替える-->
           <%= render 'public/comments/comment', comments: @comments %>
          </div>
        </div>
         <%= link_to '投稿一覧に戻る', posts_path, class: 'btn btn-secondary mb-4' %>
    </div>
  </div>
</div>


<script>
  jQuery(function(){
    // 初期状態でコメントボックスを非表示にする
    jQuery('.commentboxes').hide();
    // 表示切替ボタンのクリックイベントを検知
    jQuery('.commentbox-toggle').on('click', function(){
    // 表示をslideToggleで切り替える
    jQuery('.commentboxes').slideToggle();
    });
  });
</script>