<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-4">
        <div class="card-body">
          <%= image_tag @post.get_image, alt: @post.title, class: "img-fluid mb-3" if @post.get_image.attached? %>
          <p><strong>投稿日時:</strong> <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          <p><strong>季節:</strong> <%= @post.season %></p>
          <h1><%= @post.title %></h1>
          <p><strong>メイン野菜:</strong> <%= @post.main_vegetable %></p>
          <p><strong>説明:</strong> <%= @post.description %></p>
          <!--いいね機能・ブックマーク機能-->
          <div class="d-flex">
            <p id="like_buttons_<%= @post.id %>">
              <%= render partial: 'public/likes/like', locals: { post: @post } %>
            </p>
            <p id="bookmark_button" class="ml-4">
              <%= render partial: 'public/bookmarks/bookmark', locals: { post: @post } %>
            </p>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          食材
        </div>
        <div class="card-body">
          <% @post.ingredients.each do |ingredient| %>
            <p><strong>食材名:</strong> <%= ingredient.name %><strong> 分量:</strong> <%= ingredient.amount %></p>
          <% end %>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          手順
        </div>
        <div class="card-body">
          <% @post.recipe_steps.each do |recipe_step| %>
            <p><strong>手順:</strong> <%= recipe_step.instructions %></p>
          <% end %>
        </div>
      </div>

      <%= link_to '投稿一覧に戻る', posts_path, class: 'btn btn-secondary' %>
    <% if @post.user == current_user %>
      <%= link_to '編集', edit_post_path(@post), class: 'btn btn-primary' %>
      <%= link_to '削除', post_path(@post),method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
    <% end %>
    </div>
  </div>
</div>
