<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-4">
        <div class="card-body">
          <% if @post.get_image.attached? %>
            <%= image_tag @post.get_image, alt: @post.title, class: "img-fluid mb-3", style: "width: 100%; max-height: 400px;" %>
          <% end %>
          <p><strong class="col-3">投稿日時</strong> <%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          <h1><%= @post.title %></h1>
          <p><strong class="col-3">季節</strong> <%= @post.season %></p>
          <p><strong class="col-3">メイン野菜</strong> <%= @post.main_vegetable %></p>
          <p><strong class="col-3">ポイント</strong> <%= @post.description %></p>
          
          <% @post.tag_list.each do |tag| %>
            <%= link_to tag, posts_path(tag: tag), class: 'tag' %>
          <% end %>
          <!--いいね機能・ブックマーク機能-->
          <div class="d-flex">
            <% if user_signed_in? && !current_user.guest? %>
              <p id="like_buttons_<%= @post.id %>">
                <%= render partial: 'public/likes/like', locals: { post: @post } %>
              </p>
              <p id="bookmark_button" class="ml-4">
                <%= render partial: 'public/bookmarks/bookmark', locals: { post: @post } %>
              </p>
              <p><i class="fa-solid fa-comment ml-4" style="color: #FFA500;"><%= active_comments_count(@post) %>コメント</i></p>
               <!--自分の投稿の非公開の場合のみ表示-->
              <p>
                <% if !@post.is_public %>
                  <span class="badge badge-danger ml-5" style="font-size: 18px; padding: 10px;">非公開</span>
                <% end %>
              </p>
            <% end %>
          </div>
        </div>
      </div>
     
    <div class="card mb-4">
      <div class="card-header">
        食材
      </div>
      <div class="card-body">
        <% @post.ingredients.each do |ingredient| %>
          <div class="row">
            <div class="col-6">
               <%= ingredient.name %>
            </div>
            <div class="col-6">
              <strong class="col-3">分量</strong> <%= ingredient.amount %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

     
     <!--それぞれの手順を別々のカードで表示する-->
      <div class="card-body">
        <% @post.recipe_steps.each_with_index do |recipe_step, index| %>
          <div class="card mb-2">
            <div class="card-header">
              <strong>ステップ<%= index + 1 %></strong>
            </div>
            <div class="card-body">
              <p><%= recipe_step.instructions %></p>
            </div>
          </div>
        <% end %>
      </div>
      
    <% if @post.user == current_user %>
      <%= link_to '投稿編集', edit_post_path(@post), class: 'btn btn-success' %>
      <%= link_to '投稿削除', post_path(@post),method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
    <% end %>
      <!--コメント機能-->
        <div id="comments" class="mt-4 mb-4">
       <% if user_signed_in? && !current_user.guest? %>
          <%= render 'public/comments/form', post: @post %>
       <% end %>
         <button class="commentbox-toggle btn btn-info btn-block">コメントを表示する</button>
          <div class="commentboxes">
           <%= render 'public/comments/comment', comments: @post.comments %>
          </div>
        </div>
         <%= link_to '投稿一覧に戻る', posts_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>


<script>
   jQuery(function(){
    // 初期状態でコメントボックスを非表示にする
   jQuery('.commentboxes').hide();
    // 表示切替ボタンのクリックイベントを検知
    jQuery('.commentbox-toggle').on('click', function(){
    // 表示をslideToggleで切り替える
    jQuery('.commentboxes').slideToggle();
    });
  });
</script>