
<h2>
<% if @shop.shop_icon.attached? %>
  <%= image_tag @shop.shop_icon, class: 'img-fluid shop_icon' %> 
<% end %>
<%= @shop.name %>
</h2>
<p><%= @shop.description %></p>
<p><%= @shop.address %></p>
<%= link_to 'ショップ情報編集', edit_user_shop_path(@shop), class: 'btn btn-success' %>