
<h2>
<% if @shop.shop_icon.attached? %>
  <%= image_tag @shop.shop_icon, class: 'img-fluid shop_icon' %> 
<% end %>
<%= @shop.name %>
</h2>
<p><%= @shop.description %></p>

<%= link_to '商品登録', new_user_shop_item_path(user_id: @shop.user_id, shop_id: @shop.id) %>
<!--ショップの持ち主であるユーザーの場合のみ表示する-->
<% if current_user == @shop.user %>
  <%= link_to 'ショップ情報編集', edit_user_shop_path(@shop), class: 'btn btn-success' %>
<% end %>