<div class="container">
  <div class="row">
    <!-- ショップ情報の部分 -->
    <div class="col-md-6">
      <h2>
        <% if @shop.shop_icon.attached? %>
          <%= image_tag @shop.shop_icon, class: 'img-fluid shop_icon' %> 
        <% end %>
        <%= @shop.name %>
      </h2>
      <p><%= @shop.description %></p>
      <div class="mb-4">
        <%= link_to '商品登録', new_user_shop_item_path(user_id: @shop.user_id, shop_id: @shop.id), class: "btn btn-info" %>
      </div>
      <!--ショップの持ち主であるユーザーの場合のみ表示する-->
      <% if current_user == @shop.user %>
        <%= link_to 'ショップ情報編集', edit_user_shop_path(@shop), class: 'btn btn-success' %>
      <% end %>
    </div>
  
    <!-- 商品一覧の部分 -->
    <div class="col-md-6">
      <h3>商品一覧</h3>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-md-4">
            <%= link_to user_shop_item_path(user_id: @shop.user_id, shop_id: @shop.id, id: item.id) do %>
              <% if item.item_image.attached? %>
                <%= image_tag item.item_image, class: "img-fluid" %>
              <% else %>
                <%= image_tag 'no-image.jpg', class: "img-fluid" %>
              <% end %>
            <% end %>
            <h4><%= item.name %></h4>
             <div>
              ¥<span class="text-primary"><%= item.price %></span>
            </div>
            <div>
              <strong>在庫数:</strong> <span class="text-success"><%= item.stock_quantity %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
