<%= form_with(model: @post, url: admin_post_path(@post), local: true) do |f| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h3><%= @post.user.name %>の投稿編集</h3>
          <div class="form-group">
            <%= f.label :title, "料理名" %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
  
          <div class="form-group">
            <%= f.label :tag_list, "タグを入力してボタンで追加", class: 'form-control-label' %>
            <div class="input-group">
              <!--valueを設定してタグの読み込み時にフォームをクリアにする-->
              <%= f.text_field :tag_list, id: 'tag-input', placeholder: "揚げ物", class: 'form-control', value: '' %>
              <div class="input-group-append">
                <button id="add-tag-btn" class="btn btn-info" type="button">タグ追加</button>
              </div>
            </div>
            <!--JSON形式の文字列に変換し、カスタムデータに保存して、表示エリアに表示させる-->
            <div id="tags-display" data-tags='<%= @post.tag_list.to_json %>'></div>
            <!-- 実際にフォームとして送信されるタグのリスト（隠れている） -->
            <input type="hidden" id="actual-tag-list" name="post[tag_list]" value="">
          </div>
  
          <div class="form-group">
            <%= f.label :season, "季節" %>
            <%= f.select :season, Post::SEASONS, {}, class: 'form-control' %>
          </div>
  
          <div class="form-group mt-3 custom-radio mt-4">
            <h5><%= f.label :is_public, "公開フラグ" %></h5>
            <div class="form-check form-check-inline">
              <%= f.radio_button :is_public, true, class: 'form-check-input' %>
              <label class="form-check-label">公開</label>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :is_public, false, class: 'form-check-input' %>
              <label class="form-check-label">非公開</label>
            </div>
          </div>

        <div class="form-group text-center">
          <%= f.submit "更新", class: "btn btn-success mr-4" %>
          <%= link_to "変更をキャンセル", admin_post_path(@post), class: "btn btn-warning mr-4" %>
          <%= link_to '投稿削除', admin_post_path(@post),method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
        </div>
      </div> 
    </div> 
  </div> 
<% end %>

<!--タグを動的に追加、削除するjavascript-->
<%= render partial: 'public/posts/dynamic_tags' %>