<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card mb-4">
        <div class="card-body">
          <% if @post.get_image.attached? %>
            <%= image_tag @post.get_image, alt: @post.title, class: "img-fluid mb-3", style: "width: 100%; max-height: 400px;" %>
          <% end %>
          <p><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
          <p><strong class="col-3">投稿者</strong> <%= link_to @post.user.name, admin_user_path(@post.user), class: 'black-link' %></p>
          <h1 class="item-title text-center mb-4"><%= @post.title %></h1>
          <p>
            <strong class="col-3">季節</strong> <%= @post.season %>
            <strong class="col-3">メイン野菜</strong> <%= @post.main_vegetable %>
          </p>
          <p><strong class="col-3">ポイント</strong> <%= @post.description %></p>
          
          <% @post.tag_list.each do |tag| %>
            <%= link_to tag, admin_posts_path(tag: tag), class: 'tag' %>
          <% end %>
          
          <p class="mt-3"> <!--有効数のみカウント-->
            <span><%= active_likes_count(@post) %> <i class="fas fa-heart" style="color: red; margin-left: 5px;"></i></span>
            <span style="margin-left: 15px;"><%= active_bookmarks_count(@post) %><i class="fa-solid fa-bookmark" style="color: #6495ED; margin-left: 5px;"></i></span>
            <span style="margin-left: 15px;">
              <%= link_to "#comments-section" do %> <!--コメント部分にスクロール-->
               <%= active_comments_count(@post) %><i class="fa-solid fa-comment" style="color: #FFA500; margin-left: 5px;"></i>
              <% end %>
            </span>
            <!--投稿が公開中かつユーザーが退会していないかつゲストの投稿でない場合にのみ公開中となる-->
            <span class="badge <%= (@post.is_public && !@post.user.is_deleted && !@post.user.guest?) ? 'badge-success' : 'badge-danger' %> ml-5" style="font-size: 18px; paddint: 10px;">
               <%= (@post.is_public && !@post.user.is_deleted && !@post.user.guest?) ? '公開中' : '非公開' %>
            </span>
          </p>
        </div>
      </div>
      
      <div class="card mb-4">
      <div class="card-header">
        食材
      </div>
      <div class="card-body">
        <% @post.ingredients.each do |ingredient| %>
          <div class="row">
            <div class="col-6">
               <%= ingredient.name %>
            </div>
            <div class="col-6">
              <strong class="col-3">分量</strong> <%= ingredient.amount %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

     
      <!--それぞれの手順を別々のカードで表示する-->
      <div class="card-body">
        <% @post.recipe_steps.each_with_index do |recipe_step, index| %>
          <div class="card mb-2">
            <div class="card-header">
              <strong>手順 <%= index + 1 %></strong>
            </div>
            <div class="card-body">
              <p><%= recipe_step.instructions %></p>
            </div>
          </div>
        <% end %>
      </div>
      
      <!-- 管理者用の操作パネル -->
        <div class="admin-controls">
         <div class="col-8 mx-auto">
          <div class="row g-2">
            <div class="col">
              <%= link_to '投稿編集', edit_admin_post_path(@post), class: 'btn btn-success w-100 btn-lg mb-5 mt-5' %>
            </div>
            <div class="col">
              <%= link_to '投稿削除', admin_post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger w-100 btn-lg mb-5 mt-5' %>
            </div>
          </div>
        </div>
      </div>

         <!--コメント管理-->
      <div id="comments-section">
        <h3>コメント</h3>
       <% @post.comments.each do |comment| %>
        <%= render partial: 'admin/comments/comment_moderation', locals: { comment: comment } %>
       <% end %>
      </div>
    </div>
  </div>
</div>

