<div class="container">
  <h2>注文確認</h2>
  <p>支払い方法: <%= @order.payment %></p>
  <p>数量: <%= @order.quantity %></p>
  <p>郵便番号: <%= @order.postcode %></p>
  <p>住所: <%= @order.address %></p>
  <p>宛名: <%= @order.name %></p>
</div>
