<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h2 class="text-center">注文情報入力</h2>

      <%= form_with(model: @order, local: true, url: user_orders_path, method: :post) do |f| %>
        <div class="form-group">
          <h3>支払い方法</h3>
          <div class="form-check">
            <%= f.radio_button :payment, Order.payments.key(0), checked: "checked", class: "form-check-input" %>
            <%= f.label :payment_credit_card, I18n.t("enums.order.payment.#{Order.payments.key(0)}"), class: "form-check-label" %>
          </div>
          <div class="form-check">
            <%= f.radio_button :payment, Order.payments.key(1), class: "form-check-input" %>
            <%= f.label :payment_transfer, I18n.t("enums.order.payment.#{Order.payments.key(1)}"), class: "form-check-label" %>
          </div>
        </div>

        <div class="form-group">
          <h3>お届け先</h3>
         
          <div class="card mb-3">
        <div class="card-header">
          <%= f.radio_button :address_number, 3, class: "form-check-input" %>
          <%= f.label :address_number, "新しいお届け先", class: "form-check-label" %>
        </div>
        <div class="card-body">
          <div class="form-group">
            <%= f.label :postcode, "郵便番号(ハイフンなし)", class: "form-label" %>
            <%= f.text_field :postcode, placeholder: "123456", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :address, "住所", class: "form-label" %>
            <%= f.text_field :address, placeholder: "東京都浅草00-00", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :name, "宛名", class: "form-label" %>
            <%= f.text_field :name, placeholder: "星野愛久愛海", class: "form-control" %>
          </div>
        </div>
      </div>

       <%= f.submit "確認画面へ進む", class: "btn btn-custom btn-block" %>
      <% end %>
    </div>
  </div>
</div>
