<%= form_with(model: [:admin, @user], local: true) do |f| %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">

        <div class="form-group">
          <%= f.label :name, "名前" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :profile, "自己紹介" %>
          <%= f.text_area :profile, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :is_deleted, "退会フラグ" %>
          <div class="form-check">
            <%= f.radio_button :is_deleted, false, class: "form-check-input" %>
            <%= f.label :is_deleted, '有効', value: false, class: "form-check-label" %>
          </div>
          <div class="form-check">
            <%= f.radio_button :is_deleted, true, class: "form-check-input" %>
            <%= f.label :is_deleted, '退会', value: true, class: "form-check-label" %>
          </div>
        </div>
        <%= f.submit "更新", class: "btn btn-success mt-4" %>
        <div class="text-center mt-4 mb-5">
          <%= link_to 'このユーザーのデータを削除', admin_user_path(@user), method: :delete, data: { confirm: '本当に全てのデータを削除しますか？' }, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
