<!--検索フォーム-->
<div class="container mt-2 mb-4">
  <form method="get" action="<%= admin_users_path %>" class="search_container">
    <input type="text" name="search" size="25" placeholder="料理名,野菜,タグで検索">
    <input type="submit" value="&#xf002">
  </form>
</div>

  <h1 class="text-center">ユーザー一覧</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>アイコン</th>
          <th>名前</th>
          <th>email</th>
          <th>登録日</th>
          <th>退会フラグ</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td>
              <% if user.icon_image.attached? %>
                <%= link_to image_tag(user.icon_image, class: "rounded-circle", size: "40x40"), admin_user_path(user) %>
              <% end %>
            </td>
            <td><%= link_to user.name, admin_user_path(user) %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at.strftime('%Y-%m-%d') %></td>
            <td class="<%= user.is_deleted? ? 'text-danger' : 'text-success' %>">
              <%= user.is_deleted? ? '退会' : '有効' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
     <div style="width: 30%; margin: 0 auto;">
      <%= paginate @users %>
     </div>
  </div>
</div>

