<div class="container">
  <div class="row">
    <div class="col-md-4">
        <h3><%= image_tag @user.icon_image, class: 'img-fluid profile-icon' if @user.icon_image.attached? %> <%= @user.name %></h3>
       <div class="d-inline-block mr-3">
         <i class="fas fa-heart" style="color: red;"><span style="margin-left: 5px;"><%= @likes_count %></span></i>
       </div>
       <div class="d-inline-block mr-3">
         <i class="fa-solid fa-bookmark" style="color: #6495ED;"><span style="margin-left: 5px;"><%= @bookmarks_count %></span></i>
       </div>
       <div class="d-inline-block mr-3">
         <i class="fas fa-comment" style="color: #FFA500;"><span style="margin-left: 5px;"><%= @comments_count %></span></i>
       </div>
      <p><%= @user.profile %></p>
    </div>
    
    <!--投稿アイテム-->
    <div class="col-md-8">
  <p><strong>投稿数:</strong> <%= @user.posts.count %></p>
  <h3>投稿レシピ</h3>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-4 mb-4"> 
        <div class="card h-100">
          <%= link_to admin_post_path(post) do %>
            <%= image_tag post.get_image, alt: post.title, class: "card-img-top", style: "height: 120px; object-fit: cover;" if post.get_image.attached? %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <div class="d-flex justify-content-between">
              <p class="mb-0"><%= post.likes.count %> <i class="fas fa-heart" style="color: red;"></i></p>
              <p class="mb-0"><%= post.bookmarks.count %> <i class="fa-solid fa-bookmark" style="color: #6495ED;"></i></p>
              <p class="mb-0"><%= post.comments.count %> <i class="fas fa-comment" style="color: #FFA500;"></i></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  </div>
</div>
