<!--通知に関連する2人のユーザー（通知を行ったユーザーと通知されるユーザー）を取得-->
<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="col-md-6 mx-auto">
  <div class="form-inline">
   <span>
     <!--ユーザー情報を表示しない通知-->
    <% if !%w[reply post_updated post_destroyed].include?(notification.action) %>  
      
    <% show_user_info = true %> <!-- 最初はユーザー情報を表示するとして変数を初期化 -->
      <!-- いいね通知の場合 -->
      <% if notification.action == 'like' && !notification.post %>
        <span class="text-red">
          <%= "該当する投稿が削除されています" %>
        </span> 
        <% show_user_info = false %> <!-- ユーザー情報を表示しないように変数を設定 -->
      <% end %>
    <% end %>

    <!-- 上記でユーザー情報を表示すると判断された場合のみ表示 -->
    <% if show_user_info %>
      <%= link_to user_path(visitor), class: "user-name" do %>
          <% if visitor&.icon_image&.attached? %>
            <%= image_tag visitor.icon_image, class: 'img-fluid profile-icon' %>
          <% end %>
          <strong><%= visitor.name %></strong>
      <% end %>
      <%= 'が' %>
    <% end %>

      <!--通知の内容-->
    <% case notification.action %>
      <% when 'follow' then %>
        <%= "あなたをフォローしました" %>
        
       <!--いいね通知の場合-->
      <% when 'like' then %>
        <% if notification.post %>
          <%= link_to "あなたの投稿: #{notification.post.title}", notification.post, class: "title-link-color" %>
          に<i class="fas fa-heart" style="color: red; margin-left: 5px;"></i><%= "いいねしました" %>
        <% end %>
        
      <!--コメント通知の場合-->
      <% when 'comment' then %>
         <!--自分の投稿にコメントされた時の通知-->
        <% if notification.post.user_id == visited.id %>
          <%= link_to "あなたの投稿: #{notification.post.title}", notification.post, class: "title-link-color" %>
          <%= "にコメントしました" %>
          <p class="text-muted mb-0 mt-3 ml-5"><%= Comment.find_by(id: notification.comment_id)&.content %></p>
        <% else %>
          <!--コメントしたことがある投稿に自分以外のコメントがついた場合-->
          <span>
            <%= link_to post_path(notification.post), class: "title-link-color" do %>
              <% if notification.post.user&.icon_image&.attached? %>
                <%= image_tag notification.post.user.icon_image, class: "img-fluid profile-icon" %>
              <% end %>
              <strong><%= notification.post.user.name + 'の投稿: ' + notification.post.title %></strong>
            <% end %>
          </span>
          <%= "にコメントしました" %>
          <p class="text-muted mb-0"><%= Comment.find_by(id: notification.comment_id)&.content %></p>
        <% end %>
        
        <!--お問い合わせ返信通知の場合-->
        <% when 'reply' then %>
          <span class="text-success"> <!-- ここで色やマークを追加 -->
            <%= link_to "運営部があなたのお問い合わせに返信しました", inquiry_path(notification.inquiry_id), class: "text-success" %>
            <i class="fas fa-reply"></i> 
          </span>
          <p class="text-muted mb-0"><%= notification.message %></p>
          
          <!--投稿編集通知の場合-->
        <% when 'post_updated' then %>
          <span class="text-red">
            <% if notification.post.present? %>
              <%= link_to "あなたの投稿: #{notification.post.title}", notification.post, class: "title-link-color" %>
              <%= "に不適切な部分が確認されたため管理者によって編集されました" %>
            <% else %>
              <%= "該当する投稿が削除されています" %>
            <% end %>
          </span>
    
        <!--投稿削除通知の場合-->
        <% when 'post_destroyed' then %>
        <span class = "text-red">
          <%= "あなたの投稿 " %>
          <span class="title-text"><%= notification.data %></span>
          <%= " が不適切と判断され削除されました" %>
        </span>
    <% end %>
    </span>
  </div>
  <!--時間表示-->
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase + '前' %>
  </div>
  <hr>
</div>
