<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark py-4 mb-0" style="background-color: #E0FFFF;">ログイン</h5>
      <div class="form-body p-4">

        <div class="mx-auto text-center">
          <p>メールアドレスと<br>パスワードを入力してください。</p>
        </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), local: true) do |f| %>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-user"></i></span>
            </div>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス", required: true %>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
            </div>
            <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード", required: true %>
          </div>

          <%= f.submit "ログイン", class: "btn btn-lg btn-block btn-info mt-5" %>
        <% end %>

        <div class="text-center mt-3">
          <%= link_to "新規登録はこちら", new_registration_path(resource_name), class: "btn btn-outline-success" %>
        </div>

        <h5 class="mt-5 text-center">ゲストログインはこちらから</h5>
        <div class="text-center mt-3">
          <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-secondary", method: :post %>
        </div>
      </div>
    </div>
  </div>
</div>
