<div class="form-group">
  <%= f.label :icon_image, "プロフィール画像" %>
  <%= f.file_field :icon_image, class: 'form-control-file' %>
  <%= image_tag @user.icon_image, class: 'img-fluid profile-icon' if @user.icon_image.attached? %>
</div>
<div class="form-group">
  <%= f.label :name, "名前(ニックネーム）" %>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :profile, "自己紹介" %>
  <%= f.text_area :profile, class: 'form-control', rows: 5 %>
  </div>
  