<div class="container">
  <%= form_with(model: @user, local: true) do |f| %>
    <!--ユーザー編集フィールド-->
    <%= render 'form_fields', f: f, user: @user %>
  
    <%= f.submit "更新する", class: 'btn btn-success ml-3' %>
    <%= link_to "退会する", check_out_user_path(@user), class: 'btn btn-danger ml-3' %>
    <%= link_to "キャンセル", user_path(@user), class: 'btn btn-outline-warning ml-3' %>
  <% end %>
</div>
