<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h3 class="mb-4"><%= image_tag @user.icon_image, class: 'img-fluid profile-icon' if @user.icon_image.attached? %> <%= @user.name %></h3>

      <div class="profile-details mb-4">
        <% if current_user == @user %>
          <div class="d-inline-block mr-3">
            <%= link_to likes_user_path(current_user) do %>
              <!--退会済みのユーザーと非公開の投稿を除外して、current_userが「いいね」した数をカウントする（user.rbのロジック使用）-->
              <i class="fas fa-heart like-link">いいねした投稿<span style="margin-left: 5px;"><%= current_user.active_liked_posts_count %></span></i>
            <% end %>
          </div>
          <div class="d-inline-block mb-4">
            <%= link_to bookmarks_user_path(current_user) do %>
            <!--退会済みのユーザーと非公開の投稿を除外して、current_userが「ブックマーク」した数をカウントする-->
              <i class="fa-solid fa-bookmark bookmark_link">ブックマーク<span style="margin-left: 5px;"><%= current_user.active_bookmarked_posts_count %></span></i>
            <% end %>
          </div>
        <% end %>
        <!--user.rbのスコープを使用して退会したユーザーはフォロー・フォロワー数にカウントされないようにする-->
        <p class="profile-link"><i class="fas fa-user-friends"></i> <%= link_to "フォロー #{@user.following.active.count}", user_follows_path(@user) %></p>
        <p class="profile-link"><i class="fas fa-users"></i> <%= link_to "フォロワー #{@user.followers.active.count}", user_followers_path(@user) %></p>
        <p><%= @user.profile %></p>
      </div>
      <!--マイページである場合のみ表示する-->
      <% if current_user == @user && !current_user.guest? %>
        <%= link_to 'プロフィール編集', edit_user_path(@user), class: 'btn btn-info mb-5' %>
      <% end %>
      
      <!--マイページの場合には表示されない-->
      <% unless @user == current_user %>
        <% if current_user.following?(@user) %>
          <%= link_to 'フォローを外す', user_relationships_path(@user), method: :delete, class: 'btn btn-follow mb-4' %>
        <% else %>
          <%= link_to 'フォロー', user_relationships_path(@user), method: :post, class: 'btn btn-follow mb-4' %>
        <% end %>
      <% end %>
      
      <!-- ショップ詳細またはショップ開設ボタンの表示判定 -->
      <div class="mb-5">
        <% if current_user == @user %>
          <% if shop_opened?(current_user) %>
            <%= link_to 'ショップ詳細', user_shop_path(current_user, current_user.shop), class: 'btn btn-success' %>
          <% else %>
            <%= link_to 'ショップ開設', new_user_shop_path(current_user), class: 'btn btn-success' %>
          <% end %>
        <% else %>
          <% if shop_opened?(@user) %>
            <%= link_to @user.shop.name, user_shop_path(@user, @user.shop), class: 'btn btn-warning' %>
          <% end %>
        <% end %>
      </div>
    </div>
    
    <!--投稿アイテム-->
    <div class="col-lg-8 col-md-6 col-sm-12">
      <h3>投稿レシピ</h3> 
      <p><strong class="col-3">投稿数</strong> <%= @user.posts.count %></p>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-md-4 mb-4"> 
            <div class="card h-100">
              <%= link_to post_path(post) do %>
                <%= image_tag post.post_image, alt: post.title, class: "card-img-top", style: "height: 120px; object-fit: cover;" if post.post_image.attached? %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to post.title, post_path(post), class: 'item-link' %></h5>
                <div class="d-flex justify-content-between">
                  <!--ヘルパーを使用して有効数のみカウントされる-->
                  <p class="mb-0"><%= active_likes_count(post) %> <i class="fas fa-heart" style="color: red; margin-left: 5px;"></i></p>
                  <p class="mb-0"><%= active_bookmarks_count(post) %> <i class="fa-solid fa-bookmark" style="color: #6495ED;"></i></p>
                  <p class="mb-0"><%= active_comments_count(post) %> <i class="fas fa-comment" style="color: #FFA500;"></i></p>
                  <!--自分の投稿の非公開の場合のみ表示-->
                  <% if !post.is_public %>
                   <span class="badge badge-danger">非公開</span>
                 <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
