<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3><%= image_tag @user.icon_image, class: 'img-fluid profile-icon' if @user.icon_image.attached? %>
        <%= @user.name %></h3>

      <% if current_user == @user %>
       <div class="d-inline-block mr-3">
        <%= link_to likes_user_path(current_user) do %>
          <i class="fas fa-heart" style="color: red;"><span style="margin-left: 5px;"><%= current_user.likes.count %></span></i>
        <% end %>
      </div>
      <div class="d-inline-block"> 
        <%= link_to bookmarks_user_path(current_user) do %>
          <i class="fa-solid fa-bookmark" style="color: #6495ED;"><span style="margin-left: 5px;"><%= current_user.bookmarks.count %></span></i>
        <% end %>
      </div> 
    <% end %>
      <p><%= @user.profile %></p>
      <!--ログインしていない又はゲストログインの場合表示しない-->
      <% if current_user == @user && !current_user.guest? %>
        <%= link_to 'プロフィール編集', edit_user_path(@user), class: 'btn btn-primary' %>
      <% end %>
    </div>
    <!--投稿アイテム-->
    <div class="col-md-8">
      <h3>投稿レシピ</h3>
      <div class="row">
        <% @posts.each do |post| %>
          <div class="col-md-4 mb-4"> 
            <div class="card h-100">
              <%= link_to post_path(post) do %>
                <%= image_tag post.get_image, alt: post.title, class: "card-img-top", style: "height: 120px; object-fit: cover;" if post.get_image.attached? %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
                <p><%= post.likes.count %> <i class="fas fa-heart" style="color: red; margin-left: 5px;"></i></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
