<div class="container mt-5">
  <h3 class="mb-4">
    <% if @shop.shop_icon.attached? %>
      <%= link_to user_shop_path(user_id: @shop.user_id, id: @shop.id) do %>
        <%= image_tag @shop.shop_icon, class: 'img-fluid shop_icon' %>
      <% end %>
    <% end %>
    
    <%= link_to @shop.name, user_shop_path(user_id: @shop.user_id, id: @shop.id), class: "custom-link-color" %>
  </h3>

  <h1 class="mb-4"><%= @item.name %></h1>

  <div class="row">
    <div class="col-md-4">
      <div class="card border-0">
        <div class="card-body p-0">
          <!-- 画像がある場合、表示 -->
          <% if @item.item_image.attached? %>
            <%= image_tag @item.item_image, class: "img-fluid rounded" %>
          <% else %>
            <%= image_tag 'no-image.jpg', class: "img-fluid rounded" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <p class="card-text"><%= @item.description %></p>

          <div class="d-flex justify-content-between align-items-center">
            <div>
              <strong>￥</strong> <span class="text-primary"><%= number_with_delimiter(@item.price) %></span>
            </div>
            <div>
              <strong>在庫数:</strong> <span class="text-success"><%= @item.stock_quantity %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-3 mb-4">
        <% if current_user == @item.shop.user %>
          <%= link_to '商品編集', edit_user_shop_item_path(@item), class: 'btn btn-success' %>
        <% else %>
          <%= link_to '購入', new_order_path(item_id: @item.id), class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

