<!DOCTYPE html>
 <html>
    <head>
      <title>Seasonarycook</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      
      <script src="https://kit.fontawesome.com/48c5a50ddf.js" crossorigin="anonymous"></script>
      <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
      
    <body>
       <!--フラッシュメッセージ表示-->
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key == 'notice' ? 'success' : 'danger' %>">
          <%= value %>
        </div>
      <% end %>
    
      <header class="header-footer-bg fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light header-footer-bg">
          
          <a class="navbar-brand" href="<%= root_path %>">
            <%= image_tag 'logo.png', alt: 'SeasonaryCook', width: '100' %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse text-right" id="navbarNav">
              <ul class="navbar-nav ml-auto"> 
                <% if admin_signed_in? %>
                  <li class="nav-item mr-4 mb-2"><%= link_to 'ホーム', admin_path %></li>
                  <li class="nav-item mr-4 mb-2"><%= link_to '顧客一覧', admin_users_path %></li>
                  <li class="nav-item mr-4 mb-2"><%= link_to '投稿一覧', admin_posts_path %></li>
                  <li class="nav-item mr-4 mb-2"><%= link_to 'コメント一覧', admin_comments_path %></li>
                  <li class="nav-item mr-4 mb-2"><%= link_to 'お問い合わせ', admin_inquiries_path %></li>
                  <li class="nav-item mr-4 mb-2"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
                <% elsif user_signed_in? %>
                  <li class="nav-item mr-3 mb-2"><%= link_to 'トップページ', root_path %></li>
                  <li class="nav-item mr-3 mb-2"><%= link_to 'マイページ', user_path(current_user) %></li>
                  <li class="nav-item mr-3 mb-2"><%= link_to '新規投稿', new_post_path %></li>
                  <li class="nav-item mr-3 mb-2"><%= link_to '投稿一覧', posts_path %></li>
                  <li class="nav-item mr-3 mb-2"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                  <!--通知一覧-->
                  <div class="notification-icon">
                    <%= link_to notifications_path do %>
                      <i class="fa fa-bell mr-4"></i> <!-- ベルのアイコン -->
                      <% if unread_notifications? %>
                        <span class="notification-mark"></span> <!-- 未読マーク -->
                      <% end %>
                    <% end %>
                  </div>
                <% else %>
                  <li class="nav-item mr-3 mb-2"><%= link_to 'トップページ', root_path %></li>
                  <li class="nav-item mr-3 mb-2"><%= link_to '新規登録', new_user_registration_path %></li>
                  <li class="nav-item mr-3 mb-2"><%= link_to 'ログイン', new_user_session_path %></li>
                  <li class="nav-item mr-3 mb-2"><%= link_to '投稿一覧', posts_path %></li>
                  <li class="nav-item mr-3 mb-2"><%= link_to 'アプリ紹介', about_path %></li>
                <% end %>
              </ul>
          </div>
        </nav>
     </header>
     
     <div class="content">
        <%= yield %>
     </div>
       
      <footer class="header-footer-bg footer">
        <div class="container"> 
        <!-- ログインしている場合のみリンクを表示 -->
          <% if user_signed_in? %> 
            <%= link_to 'お問い合わせ', new_inquiry_path, class: "btn btn-light m-2" %> 
            <%= link_to 'アプリ概要', about_path, class: "btn btn-outline-light m-2" %>
          <% end %>
        </div>
      </footer>
    </body>
 </html>
